* {
  padding: 0%;
  margin: 0%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: top;
  align-items: center;
  border: none;
  flex-direction: column;
  border-radius: 15px;
  background-color: #f0f0f0;
  height: 500px;
  width: 420px;
}
.display {
  display: flex;
  justify-content: center;
  border: none;

  width: 420px;
}
input {
  width: 100%;
  height: 70px;
  border: none;
  background-color: rgb(53, 53, 53);
  border-radius: 15px 15px 0 0;
  padding: 10px;
  font-size: 40px;
  text-align: right;
  color: rgb(255, 247, 247);
}
.buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.operators {
  display: flex;
  width: 100%;
  height: 60px;
  border: none;
  font-size: 30px;
  color: rgb(53, 53, 53);
  row-gap: 0px;
}
#add,
#subtract,
#multiply,
#divide {
  width: 107px;
  height: 60px;
  border: 1.5px solid rgb(143, 143, 143);
  background-color: rgb(180, 180, 180);
}
